{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div>
  <h1 style="text-align: center">Login</h1>
</div>
<form style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>


  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>


</form>
{% endblock %}
