{% extends 'base.html' %}

{% block title %}
ATAuto
{% endblock %}

{% block content %}
<div class="header-h1">
  <h1>AtAuto</h1>
</div>

<form class="mb-3" method="GET" action="{{ url_for('cars_search') }}">
    <div class="input-group">
      <input type="text" class="form-control" name="search" placeholder="Поиск...">
      <button type="submit" class="btn btn-outline-primary">Искать</button>
    </div>
</form>
  
<div class="card-columns">
  <div class="row">
  {% for car in cars %}
    <div class="col-lg-3 col-md-4 col-sm-6"" >
      <a href="/cars/{{ car.Model + car.Year | string}}/{{ car.CarID }}" style="text-decoration: none;" class="card-link">

    
        <div class="card mb-3" >
            <div id="carousel{{ car.CarID }}" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                {% for photo in car.photos %}
                    <button type="button" data-bs-target="#carousel{{ car.CarID }}" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %} aria-label="Slide {{ loop.index }}">
                    </button>
                {% endfor %}
              </div>
              <div class="imgs carousel-inner">
                  {% for photo in car.photos %}
                      <div class="carousel-item {% if loop.first %}active{% endif %}">
                          <img src="{{ photo.url }}" class="prevImg d-block w-100 card-img-top" alt="...">
                      </div>  
                  {% endfor %}  
              </div>
              <button class="carousel-control-prev фс" type="button" data-bs-target="#carousel{{ car.CarID }}"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ car.CarID }}"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
              </button>
            </div>

            <div class="card-body">
                <p class="badge bg-primary text-wrap" style="font-size: 90%;">{{ car.Mark +' ' + car.Model }}</p>
                <p class="badge text-wrap" style="font-size: 90%; background-color: green; box-shadow: 20px;">{{ car.price }}₽</p>
                <p class="card-text">Год: {{ car.Year }}</p>
                <p class="card-text">Мощность: {{ car.hp }}лс</p>
                <p class="card-text">Двигатель: {{ car.Engine + car.GearBox }}</p>
                <p class="card-text">Пробег: {{ car.odo }}км</p>

                
                
              
            </div>
        </div>

      </a>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}