{% extends 'base.html' %}

{% block title %}
Мои любимые песни
{% endblock %}

{% block content %}
<h1 class="mb-5">Catalog</h1>

<form class="mb-3" method="GET" action="{{ url_for('cars') }}">
    <div class="input-group">
      <input type="text" class="form-control" name="search" placeholder="Поиск...">
      <button type="submit" class="btn btn-outline-primary">Искать</button>
    </div>
</form>
  
<div class="card-columns">
  <div class="row">
  {% for car in cars %}
    <div class="col-md-3">
      <div class="card mb-3">
          <!--<div class="card-header fw-bold">{{ car.Mark }}</div>-->
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://w.forfun.com/fetch/dd/dde6c0ce845ec827af95a347424aba2a.jpeg" class="d-block w-100 card-img-top" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.wallpaperscraft.ru/image/single/gorod_zakat_vecher_163123_2560x1440.jpg" class="d-block w-100 card-img-top" alt="...">
              </div>
             
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
            </button>
          </div>
          <div class="card-body">
              <p class="badge bg-primary text-wrap">{{ car.Mark +' ' + car.Model }}</p>
              <p class="card-text">hp: {{ car.hp }}</p>
              
            
          </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}